<div class="banner-CL" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/4142901.jpg);" alt="background-image-form">
    <div class="container-pitch-upload d-flex justify-content-start col-4 ps-4">
      <%= simple_form_for(@pitch) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :sport %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-success text-white mt-3" %>
      <% end %>
    </div>
</div>
